*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    list-style: none;

}
body{
    font-family: sans-serif;
    background: #000;
}
:root{
    --blue-color:#4579CB;
    --grey-color:#666666;
    --black-color:#282A30;
    --white-color:#fff;
    --blackdark-color:#000;
    --red-color:#F7515C;
    --yellow-color:darkorange;
}
nav{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav .logo{
        font-size:40px; 
        font-weight: 900;
        color: var(--white-color); 

        
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav ul li a{
    transition: 0.5s ease;
    color: var(--grey-color);
    font-size: 20px;
     line-height: 22.8px;
     gap: 40px;

}
nav ul li a:hover{
    color: var(--white-color);
    text-shadow: 0 0 30px white;
}
nav ion-icon{
    font-size: 22px;
    color: var(--grey-color);
   cursor: pointer;
}
 nav ion-icon:hover{
   color: var(--white-color);
   filter: drop-shadow(0 0 10px var(--white-color));
 } 
.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 
}
.content .content1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.content .content1 h3{
    line-height: 2.5;
    font-size: 20px;
    color:var(--white-color) ;
    text-shadow: 0 0 20px white;
}
.content .content1 h1{
    font-size: 55px;
    font-weight: 700;
    line-height: 67.05px;
    color:var(--white-color);
    text-shadow: 0 0 20px white;
}


.content2 h5 ion-icon{
    font-size: 16px;
    color: var(--white-color);
}
.content2 a {
    color: var(--white-color);
}
 .btn{
    width: 170px;
    height: 50px;
    border: none;
    background: var(--red-color);
    cursor: pointer;
}
 .btn a{
    color: var(--white-color);
    font-size: 18px;
    text-shadow: 0 0 20px white;
}
.btn:hover {
    color: var(--white-color);
    filter: drop-shadow(0 0 7px var(--white-color));
}
.content img{
    filter: drop-shadow(0 0 20px var(--white-color));
    border-radius: 20px;
}
/***************************/
.card1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card1  h2 span{
    font-size: 100px;
    color: var(--white-color);
    font-weight: 700;
}
.card1 h2{
    color: var(--white-color);
    font-size: 60px;
    font-weight: 700;
    filter: drop-shadow(0 0 30px var(--white-color));
}
.card1 p{
    color:var(--white-color);
    line-height: 30.01px;
    font-size: 22px;
    text-shadow: 0 0 10px white;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20%;
}
.card img{
    filter: drop-shadow(0 0 20px var(--white-color));
    border-radius: 20px;
}

/****************************/
.color{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.color h5{
    color: var(--white-color);
    font-size: 40px;
    line-height: 48.76px;
    text-shadow: 0 0 20px white;
}
.color h1{
    color: var(--white-color);
    font-size: 100px;
    text-shadow: 0 0 20px white;
}
.color1{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.color1 img{
    filter: drop-shadow(0 0 20px var(--white-color));
}

.color2 h5{
    line-height: 2.2;
    color: var(--white-color);
    font-weight: 600;
    font-size: 40px;
    text-shadow: 0 0 20px white;
}
.color2 h1{
    color: var(--white-color);
    font-size: 100px;
    font-weight: 700;
    text-shadow: 0 0 20px white;
}
/***************************************/
.color3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}
.color4{
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.color4 h6{
    font-size: 32px;
    text-shadow: 0 0 10px var(--white-color);
}
.color4 p{
    font-size: 25px;
    color: red;
}

.color5{
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.color5 h5{
    font-size: 32px;
    text-shadow: 0 0 10px var(--white-color);
}
.color5 p{
    font-size: 25px;
    color: var(--blue-color);
}
.color6{
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.color6 h5{
    font-size: 32px;
    text-shadow: 0 0 10px var(--white-color);
}
.color6 p{
    font-size: 25px;
    color: var(--red-color);
}
.color7{
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.color7 h5{
    font-size: 32px;
    text-shadow: 0 0 10px var(--white-color);
}
.color7 p{
    font-size: 25px;
    color: var(--blue-color);
}
/********************************/
.text{
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20%;
}
.text1 h1{
    font-size: 100px;
    font-weight: 700;
    text-shadow: 0 0 10px var(--white-color);
}
.text1 h2{
    font-size: 100px;
    font-weight: 700;
    text-shadow: 0 0 10px var(--white-color);
}
.text2 img{
    border-radius: 10px;
    filter: drop-shadow(0 0 20px var(--white-color));
}

/******************************/
.text3{
    width: 100%;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}
.text3 img{
    color: var(--white-color);
}
/**************************/
footer{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction:row;
    border-radius: 20px;
    gap: 20%;
}

.text5 h1{
   font-size: 30px;
   line-height: 1.5;
   color: var(--white-color);
   text-shadow: 0 0 10px var(--white-color);
}
.text5 p{
    font-size: 25px;
    color: var(--white-color);
    line-height: 1.7;
    text-shadow: 0 0 7px var(--white-color);
}
/************/
.text6{
    gap: 60px;
}
.text6 h4{
font-size: 30px;
line-height: 1.5;
color: var(--white-color);
text-shadow: 0 0 10px var(--white-color);
}
.text6 p{
    font-size: 20px;
    line-height: 1.2; 
    color: var(--white-color);
    text-shadow: 0 0 7px var(--white-color);
}
/*******************/
.text7{
    gap: 60px;
}
.text7 h2{
font-size: 30px;
line-height: 1.5;
color: var(--white-color);
text-shadow: 0 0 10px var(--white-color);
}
.text7 p{
    font-size: 20px;
    line-height: 1.2; 
    color: var(--white-color);
    text-shadow: 0 0 7px var(--white-color);
}
/************/
.text8{
    gap: 60px;
}
.text8 h3{
    font-size: 30px;
    line-height: 1.5;
    color: var(--white-color);
    text-shadow: 0 0 10px var(--white-color);
}
.text8 h4{
    font-size: 20px;
    line-height: 1.5;
    color: var(--white-color);
    text-shadow: 0 0 7px var(--white-color);
}
.text8 h4 ion-icon{
    font-size: 24px;
}
.text8 h4 ion-icon:hover{
    color: var(--yellow-color);
}
/******/
.text8 h5 ion-icon:hover{
    color: green;
}
.text8 h5 ion-icon{
    font-size: 24px;
}
/*********/
.text8 h6 ion-icon:hover{
    color: var(--red-color);
}
.text8 h6 ion-icon{
    font-size: 26px;
}
.text8 h5{
    font-size: 20px;
    line-height: 1.5;
    color: var(--white-color);
    text-shadow: 0 0 7px var(--white-color);
}
.text8 h6{
    font-size: 20px;
    line-height: 1.5;
    color: var(--white-color);
    text-shadow: 0 0 7px var(--white-color);
}
