{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <nav>
        <div class="logo">
            <h1>Furniture</h1>
        </div>
        <ul>
            <li><a href="{% url 'hi-world' %}">Hi</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Collection</a></li>
            <li><a href="#">Shop</a></li>
         </ul>
         <ion-icon name="search-outline"></ion-icon>
         <ion-icon name="arrow-down-circle-outline"></ion-icon>
    </nav>
    <!------------------------------------------------------->
    <div class="content">
        <div class="content1">
            <h3>DECORATE HOME</h3>
            <h1>Feel your home <br> 
                with a modern design <br>
                space</h1>
                <br>
                <br>
                <br>
                <div class="content2">
                    <button class="content-btn btn"><a href="#">Discover</a></button>
                     <ion-icon name="play-circle-outline"></ion-icon><a href="#">Watch video</a>
       
        
                    </div>
               </div>
              

            <img src="{% static 'img/image 1.png' %}" alt="">
    </div>
    <!------------------------------------------------->
    <div class="card">
        <img src="{% static 'img/card.png' %}" alt="">
       
    <div class="card1">
          <h2>About <br>
           <span>Furniture</span> </h2> 
         <br><br>
          <p>People have been using natural objects, such as tree  <br>
            stumps, rocks and moss, as furniture since the  <br>
            beginning of human civilisation. </p>
            <br><br><br>
            <button class="content-btn btn"><a href="#">Read more</a></button>
 </div>
   </div>
   <!------------------------------------>
   <br>
   <br>
   <div class="color">
    <h5>More value from this</h5>
    <h1>Furniture</h1>
   </div>
   <!----------------------------------------->
   <br><br> <br>
   <div class="color1">
    <img src="{% static  'img/home1.png' %}" alt="">
   </div>
   <br><br> <br><br> <br>
   <!-------------------------------------->
   <div class="color2">
    <h5>Our you have to buy</h5>
    <h1>Product</h1>
   </div>
   <!------------------------------------>
   <div class="color3">
    <div class="color4">
        <img src="{% static 'img/lamp.png' %}" alt="">
        <h6>Modern lamp study</h6>
        <p>$258</p>
    </div>
    <!-------------------------------->
    <div class="color5">
        <img src="{% static 'img/chair.png' %}" alt="">
        <h5>Modern lamp study</h5>
        <p>$135</p>
    </div>
    <!-------------------------------->
    <div class="color6">
        <img src="{% static 'img/new img.png' %}" alt="">
        <h5>Classic lamp</h5>
        <p>$425</p>
    </div>
    <!-------------------------------->
    <div class="color7">
        <img src="{% static 'img/budilnik.png' %}" alt="">
        <h5>Clock cute</h5>
        <p>$331</p>
    </div>
</div>
<!-------------------------------->
<br><br>
<div class="text">
    <div class="text1">
    <h1>Let's </h1>
    <h2>Try Now </h2>
    <br><br><br>
    <button class="content-btn btn"><a href="#">Explore</a></button>
</div>
<div class="text2">
    <img src="{% static 'img/room.png' %}" alt="">
</div>
</div>
<!------------------------------------->
 <br> <br>
<div class="text3">
    <img src="{% static 'img/list.png' %}" alt="">
</div>
<!---------------------------------------------->
<br><br>
<footer>
 <div class="text5">
    <h1>Get's your <br> 
        discount</h1>
        <br> <br> 
        <p>Check now !</p>
  </div>
  <!---------------------------------------->  
  <div class="text6">
    <h4>Our services</h4> <br> <br>
    <p>Collection <br> <br>
        How its work <br> <br>
        Estimats <br> <br>
    </p>
    </div>
     <!---------------------------------------->  
     <div class="text7">
        <h2>Company</h2> <br> <br> 
        <p>Terms of use <br> <br> 
            Privacy policy <br> <br>
            Careers <br> <br>
        </p>
     </div>
     <!---------------------------------->
     <div class="text8">
        <h3>Contact</h3> <br> <br>
        <h4>
        <ion-icon name="mail-outline"></ion-icon>
           Furniutr2@furniture.com <br>
        </h4> <br> 
         <h5><ion-icon name="call-outline"></ion-icon>
               (888) 315-500 <br></h5> <br>
            <h6><ion-icon name="locate-outline"></ion-icon>
                   St. VIllage, New York <br>
             </h6>
        </div>
     <!-------------------------------->
</footer>



    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>